.vs/*
.vscode/*
.kiro/*

!assets/imgs/esppo/*.*

assets/imgs/sekolah/*.*
!assets/imgs/sekolah/placeholder_sekolah.png
!assets/imgs/sekolah/placeholder_osis.png
!assets/imgs/sekolah/index.html
!assets/imgs/sse-foto-kandidat
assets/imgs/sse-foto-kandidat/*.*
!assets/imgs/sse-foto-kandidat/index.html

!assets/pdfs/laporan
!assets/pdfs/laporan/index.html
assets/pdfs/laporan/*.pdf
!assets/pdfs/sse-ljk
!assets/pdfs/sse-ljk/index.html
assets/pdfs/sse-ljk/*.pdf

assets/spreadsheets/papt-unggah-massal/*.*
!assets/spreadsheets/papt-unggah-massal/index.html
!assets/spreadsheets/templat/Templat_Format_Data_Akun_DPT_Pusminlihdu_eSPPO.xltx
!assets/spreadsheets/templat/index.html

backups/*

confs/crypto_config.yml
confs/db_config.yml
confs/school_config.yml

!docs/markdown/*
!docs/markdown/sse_guide.md
!docs/markdown/pusminlihdu_guide.md
!docs/latex/*
!docs/latex/main.pdf
!docs/latex/main.tex
!docs/latex/TeX_files/*.tex

logs/*

portal-1.1.0/*

vendor/*
