.vs/*
.vscode/*
vendor/*
assets/imgs/sekolah/*
assets/imgs/sse-foto-kandidat/*
!assets/imgs/sekolah/placeholder_sekolah.png
!assets/imgs/sekolah/placeholder_osis.png
confs/crypto_config.yml
confs/db_config.yml
confs/school_config.yml